.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat{
    font-family: 'Valera Round', sans-serif;
    font-size: 11px;
    color: var(--color-gold);
    line-height: 20px;
    margin-top: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
    cursor: pointer;
}

.postDate{
    font-family: 'Lora',serif;
    font-style: italic;
    font-size: 13px;
    color: var(--color-grey);
    
}

.postDesc{
    font-family: 'Valera Round', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.postBody{
    font-family: 'Valera Round', sans-serif;
    font-size: 14px;
    color: var(--color-greyBold);
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}